<section class="cards" *ngIf="updatedContent">
    <h1 class="title">{{state.data.title}}</h1>

    <section  [class]="'card card--'+state.data.card_suit" attr.value={{state.data.card_value}}>
        <img class = "card-image" src="/assets/images/qr/qr1.png" alt="image">

		<div class="card__inner card__inner--centered">
			<div class="card__column">
                {{updatedContent.main_version.statement}}
            </div>
        </div>
        <span class="vmc-text">VMC <br>{{state.data.card_value}}{{state.data.card_suit.charAt(0).toUpperCase()}}</span>
    </section>    
</section>