<section class="cards" *ngIf="card">
  <h1 class="card-title">{{ card.title }}</h1>
  <section>
    <section
    [class]="'card card--' + card.card_suit"
    attr.value="{{ card.card_value }}"
    id="cardPDF"
  >
    <img
      class="card-image"
      src="assets/images/qr/https---virtualmathscamp.com-card-{{
        card.card_value
      }}{{ card.card_suit.charAt(0).toUpperCase() }}.html.png"
      alt="image"
    />

    <div class="card__inner card__inner--centered" id="test2">
      <div
        class="card__column"
        [innerHTML]="card.main_version.statement"
      ></div>
    </div>
    <span class="vmc-text"
      >Chatbot <br />VMC_{{ card.card_value
      }}{{ card.card_suit.charAt(0).toUpperCase() }}</span
    >
  </section>






  
  <div >
    <div class="content-title" *ngIf="card.title">
      <h2>Title: {{card.title}}</h2>
    </div>
    <div class="card-type" *ngIf="card.metadata">
      <h2>Type: {{card.metadata.type}}</h2>
    </div>
    <div class="main_version" *ngIf="card.main_version">
      <h2>Main Version</h2>
      
      <span *ngIf="card.main_version.statement">
        Statement:
        <p>{{card.main_version.statement}}</p>
      </span>
      <span *ngIf="card.main_version.correct_answer">
        Correct Answer:
        <p>{{card.main_version.correct_answer}}</p>
      </span>
      <span *ngIf="card.main_version.hint">
        Hint:
        <p>{{card.main_version.hint}}</p>
      </span>
      <span *ngIf="card.main_version.explanation">
        Explanation:
        <p>{{card.main_version.explanation}}</p>
      </span>
      <span *ngIf="card.main_version.further_instructions">
        Further Instructions:
        <p>{{card.main_version.further_instructions}}</p>
      </span>
      <span *ngIf="card.main_version.strategy_tips">
        Strategy Tips:
        <p>{{card.main_version.strategy_tips}}</p>
      </span>
      
    </div>
    <div class="extension_1" *ngIf="card.extension_1">
      <h2>Extension 1</h2>
      <span *ngIf="card.extension_1.statement"> 
        Statement:
      <p>{{card.extension_1.statement}}</p>
      </span>
      <span *ngIf="card.extension_1.hint">
        Hint:
        <p>{{card.extension_1.hint}}</p>
      </span>
      
      <span *ngIf="card.extension_1.correct_answer">
        Correct Answer:
        <p>{{card.extension_1.correct_answer}}</p>
      </span>
      <span *ngIf="card.extension_1.explanation">
        Explanation:
        <p>{{card.extension_1.explanation}}</p>  
      </span>
      
    </div>
    <div class="extension_2" *ngIf="card.extension_2">
      <h2>Extension 2</h2>
      <span *ngIf="card.extension_2.statement">
        Statement:
        <p>{{card.extension_2.statement}}</p>  
      </span>
      <span *ngIf="card.extension_2.hint">
        Hint:
        <p>{{card.extension_2.hint}}</p>  
      </span>
      <span *ngIf="card.extension_2.correct_answer">
        Correct Answer:
        <p>{{card.extension_2.correct_answer}}</p>
      </span>
      
      <span *ngIf="card.extension_2.explanation">
        Explanation:
        <p>{{card.extension_2.explanation}}</p>
      </span>
    </div>
    
    <div class="additional_information" *ngIf="card.additional_information">
      <h2>
        Additional Information
      </h2>
      <span *ngIf="card.additional_information.about">
        About
        <p>{{card.additional_information.about}}</p>  
      </span>
      <span *ngIf="card.additional_information.references">
        References
        <p>{{card.additional_information.references}}</p>
      </span>
    </div>
  </div>
 
  </section>
 
</section>
