<div *ngIf="card.card_suit === 'spade'">
    <!--Game-->
    <button mat-raised-button color="primary" (click)="showHint()">{{showHintContent?"Hide tips": "Show strategy tips"}}</button>
    <div *ngIf="showHintContent">
     <mat-card class="main_version" *ngIf="card.main_version">
   
       <span class="main_tip" *ngIf="card.main_version.strategy_tips">
         <mat-card-subtitle > Tip:</mat-card-subtitle>
         <p [innerHTML]="card.main_version.strategy_tips"></p>

         <button mat-raised-button color="primary" (click)="showExplanation()">{{showExplanationContent?"Hide instructions": "Show further instructions"}}</button>
       </span>  
 
         <div class="instructions" *ngIf="showExplanationContent">
           <span class="main_explanation" *ngIf="card.main_version.further_instructions">
             <mat-card-subtitle> Explanation:</mat-card-subtitle>
             <p [innerHTML]="card.main_version.further_instructions"></p>
           </span>
      
           <button mat-raised-button color="accent" (click)="showExtension()">{{showExtensionsContent?"Hide Extensions": "Show Extensions"}}</button>
         </div>
       </mat-card>
   </div>
   </div>