
.card {
    width: 300px;
    height: 500px;
    background-color: rgb(255, 249, 242);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    box-sizing: border-box;
    margin: 30px;
}

.suit {
    height: 60px;
}

.suit.hearts {
    width: 60px;
    background: url("assets/images/hearts.svg");
}

.suit.diamonds {
    width: 42px;
    background: url("assets/images/diamonds.svg");
}

.suit.clubs {
    width: 54px;
    background: url("assets/images/clubs.svg");
}

.suit.spades {
    width: 52px;
    background: url("assets/images/spades.svg");
}

.rank {
    font-size: 40px;
}