$color: #c0c0c0;
//$background: #f0f0f0;
$background: linear-gradient(#e66465, #9198e5);;

$gutter: 20px;
$font-size: 12px;

$card-background: #fff;
$card-padding: 4px;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 40px;

body {
  padding: 0;
  margin-left: 0;
  background: $background;
}

.cards-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  position: relative;
  display: block;
  font: $font-size "Calibri";
  width: 2.5in;
  height: 3.5in;

  margin: $gutter;
  border-radius: $card-padding;
  background: $card-background;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);

  &:before,
  &:after {
    content: attr(value);
    position: absolute;
    width: 12px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 25px;
  }

  &:before {
    top: $card-padding;
    left: $card-padding;
  }

  &:after {
    bottom: $card-padding;
    right: $card-padding;
    transform: rotate(180deg);
  }

  &--heart {
    color: $card-color-red;

    &:before,
    &:after {
      content: attr(value) " ♥";
    }
  }

  &--spade {
    color: $card-color-black;

    &:before,
    &:after {
      content: attr(value) " ♠";
    }
  }

  &--diamond {
    color: $card-color-red;

    &:before,
    &:after {
      content: attr(value) " ♦";
    }
  }

  &--club {
    color: $card-color-black;

    &:before,
    &:after {
      content: attr(value) " ♣";
    }
  }
}

.card__inner {
  box-sizing: border-box;
  border-style: ridge;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 13 * $card-padding;
  left: 6 * $card-padding;
  right: 6 * $card-padding;
  bottom: 8 * $card-padding;

  &--centered {
    justify-content: center;
  }
}

.card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black !important;

  &--centered {
    justify-content: center;
  }
}

.card__symbol {
  display: inline-block;
  height: $card-symbol-size;
  text-align: center;

  &:before {
    font-size: $card-symbol-size;
    line-height: $card-symbol-size;
  }

  .card--heart &:before {
    content: "♥";
  }

  .card--spade &:before {
    content: "♠";
  }

  .card--diamond &:before {
    content: "♦";
  }

  .card--club &:before {
    content: "♣";
  }

  &--rotated,
  &:last-of-type {
    transform: rotate(180deg);
  }

  &:first-of-type {
    transform: rotate(0);
  }
}
.card-image {
  /*width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0%;*/
  margin:1em;
  width: 271px;
  height: 442px;
  cursor:pointer;
}

.vmc-text {
  position: absolute;
  bottom: 0%;
  left: 0;
  font-weight: bold;
  font-size: 12px;
  margin-left: 6px;
}

.card-title {
  font: 18px "Trebuchet MS";
  color: #444;
  text-align: center;
}
.House_image_0 {
  width: 89%;
}
.House_image_1 {
  width: 30%;
}
.House_image_3 {
  width: 30%
}
.Colouring_image_0 {
  width: 100%;
}
.Newspaper_image_0 {
  width: 100%;
}
.Two_Distances_image_0 {
  width: 74%;
}
.Avoid_the_River_image_0 {
  width: 86%;
}
.Counting_Squares_image_0 {
  width: 100%;
}
.Going_to_School_image_0 {
  width: 100%;
}
.Benford_s_Law_image_0 {
  width: 64%;
}
.Benford_s_Law_image_1 {
  width: 50%;
}
.Card_Sums_image_0 {
  width: 75%;
}
.Pong_Hau_K_i_image_0 {
  width: 64%;
}
.Triangular_Slices_image_0 {
  width: 83%;
}
div p {
  margin-bottom: 0px;
}
.monkey_business {
  font-size: 11px;
}

//content explanations or card deck
.Colouring_image_2{
  width: 50%;
}

.Four_Colours_image_0{
  width: 50%;
}

.Four_Colours_image_1{
  width: 50%;
}
.Four_Colours_image_2{
  width: 50%;
}
.Four_Colours_image_3{
  width: 50%;
}
.Counting_Squares_image_2{
  width: 60%
}
.Counting_Squares_image_1{
  width: 50%
}
.Pong_Hau_K_i_image_2{
  width: 50%
}
.Two_Distances_image_1{
  width: 50%;
}
.Square_Numbers_and_Triangular_Numbers_image_0{
  width: 50%
}
.Square_Numbers_and_Triangular_Numbers_image_1{
  width: 50%
}
.Square_Numbers_and_Triangular_Numbers_image_2{
  width: 50%
}
.Table_Handshakes_image_0{
  width: 50%;
}
.Pieces_of_Cake_image_0.png{
  width: 50%;
}
.Table_Handshakes_image_1{
  width: 50%;
}
.Table_Handshakes_image_2{
  width: 50%;
}
.Table_Handshakes_image_3{
  width: 50%;
}
.Fifteen_image_0{
  width: 50%
}
.Benford_s_Law_image_2{
  width: 50%;
}
.mat-card{
  background: lavender;
}
.content-title{

margin:1em;

}
.main_version_statements{
  margin: 1em;
}
.references{
  margin: 1em;
}
.feedback{
  margin: 1em;
}