<mat-toolbar class="toolbar" color="primary">
 <!--
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
-->
  <span class ="title" routerLink="/">Virtual Maths Camp</span>
  <span class="example-spacer"></span>
 
  <button mat-flat-button color="accent" (click)="export()"><mat-icon>print</mat-icon>
    Export</button>
    <button mat-flat-button color="primary" routerLink="p/booklet"><mat-icon></mat-icon>
      Card Booklet</button>

</mat-toolbar>
<router-outlet></router-outlet>